In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
#import pandas_profiling as pp

In [5]:
temp_1=pd.read_csv(r'C:\Users\m_joekid\Desktop\Vscodes\datasets\people.csv')
temp_2=pd.read_csv(r'C:\Users\m_joekid\Desktop\Vscodes\datasets\act_train.csv')

In [6]:
temp_1.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84

In [7]:
temp_2.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [8]:
temp_1.isnull().sum().sum()

0

In [9]:
temp_2.isnull().sum()/temp_2.shape[0]

people_id            0.000000
activity_id          0.000000
date                 0.000000
activity_category    0.000000
char_1               0.928268
char_2               0.928268
char_3               0.928268
char_4               0.928268
char_5               0.928268
char_6               0.928268
char_7               0.928268
char_8               0.928268
char_9               0.928268
char_10              0.071732
outcome              0.000000
dtype: float64

In [10]:
temp_2.dropna(thresh=len(temp_2)*0.9, axis='columns',inplace=True)

In [11]:
print ('shape of dataset', temp_1.shape)
print ('shape of dataset', temp_2.shape)

shape of dataset (189118, 41)
shape of dataset (2197291, 6)

In [12]:
temp_2.head()

  people_id   activity_id        date activity_category  char_10  outcome
0   ppl_100  act2_1734928  2023-08-26            type 4  type 76        0
1   ppl_100  act2_2434093  2022-09-27            type 2   type 1        0
2   ppl_100  act2_3404049  2022-09-27            type 2   type 1        0
3   ppl_100  act2_3651215  2023-08-04            type 2   type 1        0
4   ppl_100  act2_4109017  2023-08-26            type 2   type 1        0

In [13]:
temp_1.columns

Index(['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4',
       'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11',
       'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17',
       'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',
       'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29',
       'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',
       'char_36', 'char_37', 'char_38'],
      dtype='object')

In [14]:
temp_2 = temp_2.rename(columns={"date":"activity_ date","char_10":"activity_type"})

In [15]:
temp_2["activity_type"] = temp_2["activity_type"].fillna(temp_2["activity_type"].mode()[0])

In [16]:
temp_2.isnull().sum()

people_id            0
activity_id          0
activity_ date       0
activity_category    0
activity_type        0
outcome              0
dtype: int64

In [17]:
df=pd.merge(temp_1,temp_2, on='people_id',how='inner')
df.shape

(2197291, 46)

In [18]:
df.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_34,char_35,char_36,char_37,char_38,activity_id,activity_ date,activity_category,activity_type,outcome
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_1734928,2023-08-26,type 4,type 76,0
1,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_2434093,2022-09-27,type 2,type 1,0
2,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_3404049,2022-09-27,type 2,type 1,0
3,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_3651215,2023-08-04,type 2,type 1,0
4,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_4109017,2023-08-26,type 2,type 1,0

In [19]:
df_copy=df

In [20]:
df_copy.head()

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_34,char_35,char_36,char_37,char_38,activity_id,activity_ date,activity_category,activity_type,outcome
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_1734928,2023-08-26,type 4,type 76,0
1,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_2434093,2022-09-27,type 2,type 1,0
2,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_3404049,2022-09-27,type 2,type 1,0
3,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_3651215,2023-08-04,type 2,type 1,0
4,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,True,True,True,False,36,act2_4109017,2023-08-26,type 2,type 1,0

In [21]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2197291 entries, 0 to 2197290
Data columns (total 46 columns):
 #   Column             Dtype
---  ------             -----
 0   people_id          object
 1   char_1             object
 2   group_1            object
 3   char_2             object
 4   date               object
 5   char_3             object
 6   char_4             object
 7   char_5             object
 8   char_6             object
 9   char_7             object
 10  char_8             object
 11  char_9             object
 12  char_10            bool
 13  char_11            bool
 14  char_12            bool
 15  char_13            bool
 16  char_14            bool
 17  char_15            bool
 18  char_16            bool
 19  char_17            bool
 20  char_18            bool
 21  char_19            bool
 22  char_20            bool
 23  char_21            bool
 24  char_22            bool
 25  char_23            bool
 26  char_24            bool
 27  char_25            bool
 28  char_26            bool
 29  char_27            bool
 30  char_28            bool
 31  char_29            bool
 32  char_30            bool
 33  char_31            bool
 34  char_32            bool
 35  char_33            bool
 36  char_34            bool
 37  char_35            bool
 38  char_36            bool
 39  char_37            bool
 40  char_38            int64
 41  activity_id        object
 42  activity_ date     object
 43  activity_category  object
 44  activity_type      object
 45  outcome            int64
dtypes: bool(28), int64(2), object(16)
memory usage: 377.2+ MB

In [22]:
#do this for all categorical columns, if your ram is God level, skip
str(len(df_copy['date'].unique()))

'1196'

In [23]:
df_copy[['char_10', 'char_11','char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17','char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23','char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29','char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35','char_36', 'char_37']]=np.where(df_copy[['char_10', 'char_11','char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17','char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23','char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29','char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35','char_36', 'char_37']]==True,1,0)

In [24]:
#df_copy.info() #just to check all bool are int

In [25]:
df_copy['people_id']=df_copy['people_id'].apply(lambda x:x.split('_')[1])
df_copy['people_id']=pd.to_numeric(df_copy['people_id'])

In [26]:
df_copy['activity_id']=df_copy['activity_id'].apply(lambda x:x.split('_')[1])
df_copy['activity_id']=pd.to_numeric(df_copy['activity_id'])
df_copy['group_1']=df_copy['group_1'].apply(lambda x:x.split(' ')[1])
df_copy['group_1']=pd.to_numeric(df_copy['group_1'])
df_copy['activity_type']=df_copy['activity_type'].apply(lambda x:x.split(' ')[1])
df_copy['activity_type']=pd.to_numeric(df_copy['activity_type'])

In [27]:
df_copy.head(1)

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_34,char_35,char_36,char_37,char_38,activity_id,activity_ date,activity_category,activity_type,outcome
0,100.0,type 2,17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,1,1,1,0,36,1734928.0,2023-08-26,type 4,76,0

In [28]:
df_copy['date']=pd.to_datetime(df_copy['date'])

In [29]:
df_copy['Year']=df_copy['date'].dt.year
df_copy['Month']=df_copy['date'].dt.month
df_copy['Quarter']=df_copy['date'].dt.quarter
df_copy['Week']=df_copy['date'].dt.week
df_copy['Weekday']=df_copy['date'].dt.weekday
df_copy['Day']=df_copy['date'].dt.day

In [30]:
df_copy['activity_ date']=pd.to_datetime(df_copy['activity_ date'])

In [31]:
df_copy['Activity_Year']=df_copy['activity_ date'].dt.year
df_copy['Activity_Month']=df_copy['activity_ date'].dt.month
df_copy['Activity_Quarter']=df_copy['activity_ date'].dt.quarter
df_copy['Activity_Week']=df_copy['activity_ date'].dt.week
df_copy['Activity_Weekday']=df_copy['activity_ date'].dt.weekday
df_copy['Activity_Day']=df_copy['activity_ date'].dt.day

In [32]:
del(df_copy['date'])
del(df_copy['activity_ date'])

In [33]:
df_copy.shape

(2197291, 56)

In [34]:
df_copy.head(1)

,people_id,char_1,group_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,...,Quarter,Week,Weekday,Day,Activity_Year,Activity_Month,Activity_Quarter,Activity_Week,Activity_Weekday,Activity_Day
0,100.0,type 2,17304,type 2,type 5,type 5,type 5,type 3,type 11,type 2,...,2,26,1,29,2023,8,3,34,5,26

In [35]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import OneHotEncoder

In [36]:
df_copy.columns

Index(['people_id', 'char_1', 'group_1', 'char_2', 'char_3', 'char_4',
       'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11',
       'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17',
       'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',
       'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29',
       'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',
       'char_36', 'char_37', 'char_38', 'activity_id', 'activity_category',
       'activity_type', 'outcome', 'Year', 'Month', 'Quarter', 'Week',
       'Weekday', 'Day', 'Activity_Year', 'Activity_Month', 'Activity_Quarter',
       'Activity_Week', 'Activity_Weekday', 'Activity_Day'],
      dtype='object')

In [37]:
#df_copy.info() #just to check the datatype

In [38]:
x=df_copy[['people_id', 'char_1', 'group_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',  'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29','char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',  'char_36', 'char_37', 'char_38', 'activity_id', 'activity_category',  'activity_type','Year', 'Month', 'Quarter', 'Week',  'Weekday', 'Day', 'Activity_Year', 'Activity_Month', 'Activity_Quarter',  'Activity_Week', 'Activity_Weekday', 'Activity_Day']]

In [39]:
y=df_copy['outcome']

In [40]:
from sklearn.model_selection import train_test_split

In [41]:
column_trans=make_column_transformer((OneHotEncoder(sparse=False),['char_1','char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9','activity_category']),remainder='passthrough')

In [42]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2018)
x_train,x_val,y_train,y_val = train_test_split(x_train,y_train,test_size=0.1,random_state=2018)

In [43]:
import tensorflow as tf

In [44]:
print (tf.__version__)

2.0.0

In [45]:
#column_trans.fit_transform(x_train).shape

In [46]:
x_val.shape

(175784, 55)

In [47]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.callbacks import EarlyStopping

In [48]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [53]:
model=Sequential()
model.add(Dense(1024,input_dim=183,activation='relu'))
model.add(Dense(1024,activation='relu'))
model.add(Dense(512,activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='Adam',loss='binary_crossentropy',metrics=['accuracy'])
p_x_train=(np.asarray(column_trans.fit_transform(x_train)))
p_x_val=(np.asarray(column_trans.transform(x_val)))
scaled_p_x_train=scaler.fit_transform(p_x_train)
scaled_p_x_val=scaler.transform(p_x_val)
y_train=np.asarray(y_train)
y_val=np.asarray(y_val)
model.fit(scaled_p_x_train,y_train,validation_data=(scaled_p_x_val,y_val),epochs=3,batch_size=64)

Train on 1582048 samples, validate on 175784 samples
Epoch 1/3
1582048/1582048 [==============================] - 1458s 921us/sample - loss: 0.2045 - accuracy: 0.9084 - val_loss: 0.1438 - val_accuracy: 0.9405
Epoch 2/3
1582048/1582048 [==============================] - 1217s 769us/sample - loss: 0.1229 - accuracy: 0.9498 - val_loss: 0.1070 - val_accuracy: 0.9574
Epoch 3/3
1582048/1582048 [==============================] - 1159s 732us/sample - loss: 0.0961 - accuracy: 0.9619 - val_loss: 0.0930 - val_accuracy: 0.9634

In [55]:
test_x=column_trans.transform(x_test)

In [56]:
scaled_test_x=scaler.transform(test_x)

In [76]:
predictions=model.predict(scaled_test_x)

In [58]:
from sklearn.metrics import classification_report

In [78]:
model.evaluate(scaled_test_x,np.asarray(y_test))

========================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================] - 173s 394us/sample - loss: 0.0476 - accuracy: 0.9634

[0.09376439270896818, 0.9633777]